# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Database files
*.sqlite3

# Environment variable files
.env

# Static files
/static/
*.log

# Local configuration files
*.local
*.swp

# IDE files
.vscode/
.idea/
*.iml

# MacOS specific files
.DS_Store

# Temporary files
*.tmp
*.temp
