
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <link rel="stylesheet" href="{% static 'style3.css' %}">
    
</head>
<body>
    <div class="container">
        <header class="header"  >
            <a href="#" class="logo">Gitego.</a>   
        </header>
        <div class="start-screen">
            <h1 class="heading">PROVISIONAL</h1>
            <div class="setting">
                <label for="num-questions">Exercises of Driving Test-Provisional</label>
                <div class="number">
                    resuilt <span  class="current">{{amanota}}</span><span class="total">/20</span>
                </div>
                <a href="{% url 'correct' %}" ><button class="btn show">Show correction</button></a>
                <a href="{% url 'end_delete' %}" ><button class="btn start_q">Start again</button></a>
            </div>
           
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>