{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style3.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script>
        // Push the current page to the browser's history stack twice
           history.pushState(null, document.title, location.href);
           history.pushState(null, document.title, location.href);

// Detect any attempts to go back and reset to the current page
           window.addEventListener('popstate', function () {
                history.pushState(null, document.title, location.href);
            });

    </script>
</head>
<body>
    <header class="header"  >
        <a href="#" class="logo">Gitego.</a>
        <div id="menu-icon"><i class='bx bx-menu' ></i></div>

        <nav class="navbar">
            <a href="#home" class="active">home</a>
            <a href="#about">About</a>
            <a href="#">class-online</a>
            <a href="#contact">Support</a>
            <a href="{% url 'login' %}">Login</a>

            <span class="active-nav"></span>
            
        </nav>

    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h1> Welcame in  <span> Gitego Program </span> </h1>
            <div class="text-animate">
                <h3>inga rimwe utside kushuro yambere</h3>

            </div>
            <p> gitego program  uburyo bworoshye bwokwiga amategeko y'umuhanda ukanitoza ibizamini
                 uzabazwa na police y'urwanda kora rimwe gusa
                </p>
            <div class="btn-box">
                <a href="#" class="btn">tangira</a>
                <a href="#" class="btn">ibitabo</a>
            </div>    
        </div>
        <div class="home-sci">
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-linkedin' ></i></a>
            <a href="#"><i class='bx bxl-youtube' ></i></a>
        </div>
        <div class="home-imgHover"></div>
    </section>
    <section class="about" id="about">
        <h2 class="heading">About <span>Gitego Program</span></h2>
        <div class="about-img">
            <img src="image/igitabo1.png" alt="">
            <span class="circle-spin"></span>
        </div>
        <div class="about-content">
            <h3>Gitego Program</h3>
            <p>Gitego program ni uburyo bwiza bworoshye bwokwinga amategeko y'umuhanda ukigira online 
                bikagufasha kwigira buri hamwe aho waba urihose </p>
            <div class="btn-box btns">
                <a href="#" class="btn">Read more</a>
            </div>    
        </div>
    </section>
    

    <section class="contact" id="contact">
        <h2 class="heading">Support <span> Send_Message </span></h2>
        <form action="#">
            <div class="input-box">
                <div class="input-field">
                    <input type="email" placeholder="Your Email" required>
                    <span class="focus"></span>
                </div>
                
            </div>
           
            <div class="textarea-field">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <span class="focus"></span>
            </div>
            <div class="btn-box btns">
                <button type="submit" class="btn">submit</button>
            </div>
        </form>
    </section>
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 by gitego | All rights Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#"><i class='bx bxs-hand-up'></i></a>
        </div>
    </footer>
    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>