{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="container">
        <div class="start-screen">
            <h1 class="heading">Qestion prem</h1>
            <form action="/insert/" method="post">
                {% csrf_token %}
            <div class="setting">
                <label for="num-questions">number of questions</label>
                nomber : <input type="text" name="no" >
               
                
            </div>
            <div class="setting">
                
                question : <input type="text" name="quest" >
               
                
            </div>
            <div class="setting">
                
                Answer A : <input type="text" name="A" >
               
                
            </div>
            
            
            

            <input type="submit" name="reg" class="btn start" value="Save Question">
        </form>
        </div>
    </div>
    <script src="scr.js"></script>
</body>
</html>