{% load   static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <script>
        // Prevent back navigation after page load
        function preventBack() {
            window.history.forward();
        }

        window.onload = preventBack;
        window.onpageshow = function (event) {
            if (event.persisted) {
                preventBack();
            }
        };
        window.onunload = function () { null }; // Prevents back action
    </script>
</head>
<body>
    <div class="container">
        <div class="start-screen">
            <h1 class="heading">PROVISIONAL</h1>
            <div class="setting">
                <label for="num-questions">Exercises of Driving Test-Provisional</label>
                <a href="{% url 'list' %}" ><button class="reset-button">Start</button></a>

            </div>
           
        </div>
    </div>
    <script src="scr.js"></script>
</body>
</html>